{%- block automatic_collection_widget -%}
    {% if allow_add %}
        {% if automatic_collection_add_button_string == '' %}
            {{- block(automatic_collection_add_button_block) -}}
        {% else %}
            {{- include(template_from_string(automatic_collection_add_button_string)) -}}
        {% endif %}
    {% endif %}
    {{- block('collection_widget') -}}
{%- endblock automatic_collection_widget -%}

{%- block automatic_collection_add_button_widget -%}
    <button type="button" class="automatic_collection_addBtn" data-collection-holder-class="{{ id }}">New</button>
{%- endblock automatic_collection_add_button_widget -%}

{%- block automatic_collection_entry_widget -%}
    {{- block('form_widget') -}}
    {% if form.parent.vars.allow_delete or data == null %}
        {% if form.parent.vars.automatic_collection_delete_button_string == '' %}
            {{- block(form.parent.vars.automatic_collection_delete_button_block) -}}
        {% else %}
            {{- include(template_from_string(form.parent.vars.automatic_collection_delete_button_string)) -}}
        {% endif %}
    {% endif %}
{%- endblock automatic_collection_entry_widget -%}

{%- block automatic_collection_delete_button_widget -%}
    <button type="button" class="btn danger automatic_collection_delBtn">Suppr</button>
{%- endblock automatic_collection_delete_button_widget -%}
